:root {
    --brand-color-first: #2196f3;
    --brand-color-second: #000;
    --brand-color-third: #757575;
    --brand-color-fourth: #fff;
    --brand-color-fifth: #2f303a;
    --brand-color-sixth: #f5f4fa;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color-second);
}
.header {
    background-color: var(--brand-color-fourth);
    text-decoration: none;
    color: --brand-color-black;
}

.menu-link {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.web {
    color: var(--brand-color-first);
    font-family: Raleway;

    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;
}
.list {
    list-style-type: none;
}

.navigation-link {
    color: var(--brand-color-second);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--brand-color-first);
}
.contact-link {
    color: var(--brand-color-third);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--brand-color-first);
}
.motto {
    background-color: var(--brand-color-fifth);
}
.motto-text {
    color: var(--brand-color-fourth);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-align: center;
}

.button {
    color: var(--brand-color-fourth);
    background-color: var(--brand-color-first);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.9;
    padding: 10px 41px 10px 42px;
    border: none;
    border-radius: 4px;
}
.button:hover,
.button:focus {
    background-color: var(--brand-color-third);
}
.contact-address {
    color: var(--brand-color-fourth);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contact-link-button {
    /* color: rgba(255, 255, 255, 0.6); */
    color: var(--brand-color-fourth);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.contact-link-button:hover,
.contact-link-button:focus {
    color: var(--brand-color-first);
}

.filter {
    list-style-type: none;
}
.filter-name {
    color: var(--brand-color-second);
    background-color: var(--brand-color-third);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.filter-name:hover,
.filter-name:focus {
    color: var(--brand-color-fourth);
    background-color: var(--brand-color-first);
}
.list {
    list-style-type: none;
    text-decoration: none;
}
.our-strengths-name {
    color: var(--brand-color-second);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.our-strengths-text {
    color: var(--brand-color-third);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.our-job-team {
    color: var(--brand-color-second);
    font-weight: 900;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.our-name {
    color: var(--brand-color-second);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-job {
    color: var(--brand-color-third);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.footer {
    background-color: var(--brand-color-fifth);
    letter-spacing: 0.03em;
}
.link-logo-bottom {
    color: var(--brand-color-fourth);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.footer-adres {
    color: var(--brand-color-fourth);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--brand-color-first);
}

.button-portfolio {
    color: var(--brand-color-second);
    background-color: var(--brand-color-sixth);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.button-portfolio:focus,
.button-portfolio:hover {
    background-color: var(--brand-color-first);
    color: var(--brand-color-fourth);
}
.portfolio-item {
    color: var(--brand-color-second);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-type {
    color: var(--brand-color-third);

    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.underline {
    text-decoration: underline;
}
